body {
    background-color: #E5E5E5;
    width: 100%;
    height: 100%;
}
header {
    background-color: #CF2B2B;
    width: 100%;
    position: fixed;
    height: 92px;
    top: 0;
    left: 0;
    padding-left: 21px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}
header h1 {
    font-family: Righteous;
    font-size: 44px;
    color: #ffffff;
    font-weight: 400;
    padding-top: 8px;
}
header p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    line-height: 21px;
    padding-bottom: 18px;
}
.content {
    margin-top: 92px;
    height: 842px;
    background-color: #E5E5E5;
    margin-left: 3px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin-bottom: 92px;  
}
.content::-webkit-scrollbar {
    display: none;
}
.content h1 {
    font-family: righteous;
    font-size: 26px;
    color: #333333;
    margin: 27px 0 17px 19px;
}
.cardapiocomida, .cardapiobebida, .cardapiosobremesa {    
    height: 202px;
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.cardapiocomida::-webkit-scrollbar, .cardapiobebida::-webkit-scrollbar, .cardapiosobremesa::-webkit-scrollbar {
    display: none;
}
.itens {
    background-color: #ffffff;
    height: 202px;
    width: 172px;
    margin: 0 16px;
    border-radius: 9px;
    font-family: Roboto;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    position: relative;   
}
.icone ion-icon {
    color: #ffffff;
    background-color: #32B72F;
    border-radius: 50%;
    position: absolute;
    right: 8px;
    bottom: 8px;
}
.selecionado {
    box-shadow: inset -4px -4px #32B72F, inset 4px 4px #32B72F;
}
.escondido {
    display: none;
}
.itens img {
    width: 144px;
    height: 87px;
    margin: 18px 14px 8px 14px;
    border-radius: 4px;
}
.itens h2 {    
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 4px 14px;
    color: #333333;
}
.itens h3 {
    font-size: 15px;
    font-weight: 300;
    color: #a6a6a6;
    margin: 0 11px 5px 14px;
    overflow: scroll;
    height: 32px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.itens h3::-webkit-scrollbar {
    display: none;
}
.itens h4 {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    margin-left: 14px;
}
.bottom {
    position: fixed;
    height: 92px;
    width: 100%;
    background-color: #ffffff;
    bottom: 0;   
}
.finalizar {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: #ffffff;
    width: 364px;
    height: 61px;
    background-color: #cbcbcb;
    border-radius: 50px;
    text-align: center;
    box-sizing: border-box;
    padding: 6px 75px 0 75px;    
    margin: 16px auto;
}
.finalizado {
    background-color: #32B72F;
    z-index: 1;
    padding-top: 19px;
    font-weight: 700;
}
.telaconfirmar {
    width: 100%;
    height: 100%;
    background-color: rgba(250,250,250,0.60);
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.confirmar {
    width: 377px;
    height: 353px;
    background-color: #50D074;
    margin: 30vh auto;
    font-family: Roboto;
    font-size: 22px;
    padding-top: 23px;
    border-radius: 9px;
}
.tituloconfirmar {
    color: #ffffff;
    text-align: center;
    align-items: center;
    font-weight: 700;
    margin-bottom: 27px;
    border: 1px solid #000000;
}
.pratoconfirmar, .bebidaconfirmar, .sobremesaconfirmar, .totalconfirmar {
    color: #ffffff;
    font-weight: 400;
    height: 27px;
    display: flex;
    justify-content: space-between;
    margin: 13px 26px;
}
.totalconfirmar {
    font-weight: 700;
}
.confirmarpedido, .cancelar {
    color: #50D074;
    background-color: #ffffff;
    font-weight: 700;
    width: 333px;
    height: 52px;
    border-radius: 100px;
    margin: 24px 24px 12px 24px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.cancelar {
    color: #ffffff;
    background-color: #50D074;
    margin-top: 0;
}